.nav {
    position: relative;
    display: flex;
    justify-content: left; /* Centraliza o h1 */
    align-items: center;
    padding: 10px;
    background-color: #000080;
}

.nav h1 {
    margin: 0;
    color: white;
}

.nav p {
    position: absolute;
    right: 10px; /* Ajusta a posição à direita da tela */
    display: flex;
    align-items: center;
    color: white;
}

.user-icon {
    margin-right: 5px; /* Espaço entre o ícone e o nome */
}

.lamp{
    margin-right: 10px;
}
